#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.post {
  border: 2px solid rgb(84, 182, 235);
  border-radius: 30%;
  padding: 1rem;
  font-size: 20px;
  overflow: hidden;
}
.comment {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 15%;
  padding: 0.5rem;
  margin: 0.5rem;
  overflow: hidden;
}
/* h3{

} */
