#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(228, 255, 220);
}

.post {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30%;
  padding: 1rem;
  font-size: 20px;
  overflow: hidden;
}
.comment {
  border: 1px solid rgb(177, 176, 176);
  border-radius: 15%;
  padding: 0.5rem;
  margin: 0.5rem;
  overflow: hidden;
}
a {
  color: black;
  border: 1px solid rgb(130, 121, 121);
  padding: 5px;
  border-radius: 8%;
}
button {
  margin: 1rem;
  /* margin-bottom: 1rem; */
  padding: 0.5rem;
  border-radius: 8%;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  font-size: 16px;
  cursor: pointer;
}
/* h3{

} */
